<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>

<h1>
<% if params[:locale] %>
<%= t('.products') %>
<% else %>
Products
<% end %>
</h1>

<table>
  <tfoot>
    <tr>
      <td colspan="3">
        <%= link_to 'New Product', new_product_path %>
      </td>
    </tr>
  </tfoot>
  <tbody>
    <% if params[:locale] %>
      <% @products.each do |product| %>
        <% if product.locale == params[:locale] %>
          <%= render 'product', product: product %>
        <% end %>
      <% end %>
    <% else %>
      <% @products.each do |product| %>
        <%= render 'product', product: product %>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= link_to 'All produts around the world', products_path %>
