<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>

<p class="counter">
  You have accessed this pages <%= pluralize(@counter, 'time') %>
  <% if @counter > 5 %>
    thanks a lot!
  <% end %>
</p>

<h1><%= t('.title_html') %></h1>

<ul class="catalog">
  <% cache @products do %>
    <% @products.each do |product| %>
      <% cache product do %>
        <% if product == @current_product %>
        <li class ="product-highlight">
        <% else %>
        <li>
        <% end %>
          <%= link_to line_items_path(product_id: product.id), method: :post, remote: true do %>
            <%= image_tag(product.image_url) %>
          <% end %>
          <h2><%= product.title %></h2>
          <p>
            <%= sanitize(product.description) %>
          </p>
          <div class="price">
            <%= number_to_currency(calculate_locale_price(I18n.locale, product.price)) %>
            <%= button_to t('.add_html'), line_items_path(product_id: product.id, locale: I18n.locale), remote: true %>
          </div>
        </li>
      <% end %>
    <% end %>
  <% end %>
</ul>
<%= I18n.locale %>